# conda
numpy==1.19.2

#pip
PySide2==5.15.1
#pybind
gym==0.10.11
imageio
PILLOW
pyglet==1.3.2
pyvirtualdisplay

tensorflow==2.4.0
tensorflow-probability==0.11.0

dm-acme
dm-reverb
dm-acme[tf]
dm-acme[envs]
tf-agents[reverb]
